#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        matsudako: matsudako {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp A &kp T &kp S &kp U &kp D &kp A &kp K &kp O>;
            label = "MATSUDAKO";
        };

        pasudAyo96: pasudAyo96 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp A &kp S &kp U &kp D &kp LS(A) &kp Y &kp O &kp N9 &kp NUMBER_6 &kp EXCLAMATION>;
            label = "PASUDAYO96";
        };

        mail: mail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp O &kp U &kp S &kp A &kp K &kp U &kp DOT &kp M &kp A &kp T &kp S &kp U &kp D &kp A &kp DOT &kp R &kp K &kp LEFT_BRACKET &kp S &kp N1 &kp DOT &kp N &kp T &kp T &kp D &kp O &kp C &kp O &kp M &kp O &kp DOT &kp C &kp O &kp M>;
            label = "MAIL";
        };

        ntt: ntt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N) &kp T &kp T &kp D &kp O &kp C &kp O &kp M &kp O &kp LBKT &kp N5 &kp N1 &kp N5 &kp N6>;
            label = "NTT";
        };

        kousakucojp: kousakucojp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp K &kp O &kp U &kp S &kp A &kp K &kp U &kp C &kp O &kp J &kp P &kp LBKT &kp Y &kp A &kp H &kp O &kp O &kp DOT &kp C &kp O &kp DOT &kp J &kp P>;
            label = "KOUSAKUCOJP";
        };
    };

    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&trans     &trans   &trans    &trans    &trans     &trans                            &trans         &trans  &trans     &trans   &trans             &trans
&kp TAB    &kp Q    &kp W     &kp E     &kp R      &kp T                             &kp Y          &kp U   &kp I      &kp O    &kp P              &kp BSPC
&kp LCTRL  &kp A    &kp S     &kp D     &kp F      &kp G      &trans  &trans         &kp H          &kp J   &kp K      &kp L    &kp LEFT_BRACKET   &kp ENTER
&kp LSHFT  &kp Z    &kp X     &kp C     &kp V      &kp B      &sl 1   &sl 2          &kp N          &kp M   &kp COMMA  &kp DOT  &kp RIGHT_BRACKET  &kp BACKSLASH
&kp HOME   &kp END  &kp LGUI  &kp LALT  &kp SPACE  &kp LCTRL  &sl 3   &kp SEMICOLON  &kp LS(MINUS)  &trans  &trans     &trans   &kp SLASH          &kp RCTRL
            >;
        };

        numpad {
            bindings = <
&trans  &trans                   &trans          &trans                    &trans           &trans                             &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mt LEFT_WIN LEFT_ARROW  &kp UP_ARROW    &mt LEFT_WIN RIGHT_ARROW  &kp LC(HOME)     &kp LC(END)                        &kp N7  &kp N8  &kp N9  &trans  &trans  &kp DEL
&trans  &kp LEFT_ARROW           &kp DOWN_ARROW  &kp RIGHT_ARROW           &kp HOME         &kp END            &trans  &trans  &kp N4  &kp N5  &kp N6  &trans  &trans  &trans
&trans  &trans                   &trans          &trans                    &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &trans  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans  &trans
&trans  &trans                   &trans          &bt BT_CLR_ALL            &kp PAGE_UP      &kp PAGE_DOWN      &trans  &trans  &trans  &trans  &trans  &trans  &kp N0  &trans
            >;
        };

        function {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                     &trans     &trans  &trans  &trans   &trans   &trans
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                     &kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp ASTRK  &kp TILDE  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans   &trans   &trans
            >;
        };

        macro {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans      &trans        &trans  &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans      &trans        &trans  &pasudAyo96  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &kousakucojp  &trans  &mail        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &ntt    &matsudako  &trans        &trans  &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans        &trans  &trans       &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans    &trans     &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans    &trans     &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &mkp LCLK  &mo 5   &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB4  &mkp MB5  &trans     &trans  &trans     &trans  &trans
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
